@{
    ViewData["Title"] = "Прогноз риска диабета";
}

<div class="text-center">
    <img src="~/logo.png" class="img-fluid" width="30%">
    <h1 class="display-4">Diabetes Predictor</h1>
    <h2 class="display-4">Система прогнозирования риска заболевания диабетом на основе машинного обучения</h2>
    <br>
    <a id="main-btn" type="button" class="btn btn-outline-primary" asp-controller="Quiz" asp-action="Index">
        Оценить риск
    </a>
</div>