@{
    ViewData["Title"] = "Прогноз риска диабета";
}

<div class="text-center">
    <h1 class="display-4">Diabetes Predictor</h1>
    <h2 class="display-4">Система прогнозирования риска заболевания диабетом на основе машинного обучения</h2>
    <a id="main-btn" class="btn btn-link btn-lg" asp-controller="Quiz" asp-action="Index">Оценить риск</a>
</div>