@{
    ViewData["Title"] = "Оценка риска развития сахарного диабета";
    int maxQuestions = Model.Length;
}
@model QuestionModel[]

<h1>@ViewData["Title"]</h1>
<p>Пройдите тест и узнайте вероятность заболевания диабетом.</p>

@*Создание блоков с вопросами*@
<span id="CurrentQuestion" style="display: none">1</span>
@for (int i = 0; i < Model.Length; i++)
{
    int number = i + 1;

    <div class="BlockQ" id="BlockId_@number" style="border: 1px solid #bdbdbd; width: 75%; display: none; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">

        <div class="Question" style="padding: 2%;">
            <span class="label label-warning">@number</span>
            <p style="display: inline; padding: 2%;" id="1">@Model[i].Text</p>
        </div>

        <div class="Choices" style="margin-left: 8%;">
            <label class="radio-inline">
                <input type="radio" name="Name" id="1" value="1" style="margin-left: -16px;">
                Да
            </label>
            <br>
            <label class="radio-inline">
                <input type="radio" name="Name" id="1" value="0" style="margin-left: -16px;">
                Нет
            </label>
            <br>
        </div>

    </div>
}

<button type="button" id="NextQuestionBtn" class="btn btn-dark" style="margin-top: 10px;">
    <span class="glyphicon glyphicon-ok"></span>
    Дальше
</button>

<button type="button" id="NextQuestionBtn" class="btn btn-dark" style="margin-top: 10px;">
    Назад
</button>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#BlockId_1').css("display", "block");

            $('#NextQuestionBtn').on('click', function () {

                var numberQuestion = parseInt($('#CurrentQuestion').text());

                var currentBlock = '#BlockId_' + numberQuestion;
                $(currentBlock).css("display", "none");

                var nextBlock = '#BlockId_' + (numberQuestion + 1);
                $(nextBlock).css("display", "block");

                $('#CurrentQuestion').text(numberQuestion + 1);
            });
        });

    </script>
}
