
@{
    ViewData["Title"] = "Факторы риска развития сахарного диабета";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<p>В ходе анализа были обнаружены факторы, которые наиболее сильно влияют на вероятность развития диабета. На графике представлены названия факторов и коэфициенты. Чем выше коэфициент, тем сильнее фактор влияет на вероятность диабета.</p>
<div id="chartFactors"></div>

@section Scripts{ 

    @* Скрипт отрисовки графика *@
    <script>

    </script>

}